<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myprescience" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:theme="@style/AppTheme"
        android:icon="@drawable/logo"
        android:label="@string/app_name" >
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".ui.main.IntroActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name=".ui.main.SelectGenreActivity"
            android:label="@string/title_activity_recommend"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.main.SelectGenreActivity2"
            android:label="@string/title_activity_recommend"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.song.SongListActivity"
            android:label="@string/title_activity_song_list"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.main.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/CustomMainActionBarTheme" >
        </activity>
        <activity
            android:name=".ui.song.SongActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.artist.ArtistActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.album.AlbumActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.song.MySongListActivity"
            android:label="@string/title_mysong_List"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.main.MyPageActivity"
            android:label="@string/title_section4"
            android:screenOrientation="portrait"  >
        </activity>
        <activity
            android:name=".ui.main.MyPrescienceActivity"
            android:label="@string/title_activity_my_prescience"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.song.MyPTopSongListActivity"
            android:label="@string/title_activity_MyPTopSongListactivty"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.album.MyAlbumListActivity"
            android:label="@string/title_activity_MyAlbum"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.artist.MyArtistListActivity"
            android:label="@string/title_activity_MyArtist"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.album.LatestAlbumListActivity"
            android:label="@string/title_activity_LatestAlbumList"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".search.SearchListActivity"
            android:label="@string/title_activity_SearchList"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.mix_play.MixThemeActivity"
            android:label="@string/title_activity_MixPlay"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.mix_play.PlayerActivity"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".ui.mix_play.SelectGenreActivity"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>
