<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myprescience" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />

    <android:uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name" >
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".ui.IntroActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name=".ui.SelectGenreActivity"
            android:label="@string/title_activity_recommend"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".ui.SongListActivity"
            android:label="@string/title_activity_song_list"
            android:screenOrientation="portrait"
            android:theme="@style/HoloActionBarTheme" >
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/CustomMainActionBarTheme" >
        </activity>
        <activity
            android:name=".ui.SongActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme" >
        </activity>
        <activity
            android:name=".ui.ArtistActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme" >
        </activity>
        <activity
            android:name=".ui.AlbumActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme" >
        </activity>
        <activity
            android:name=".ui.MySongListActivity"
            android:label="@string/title_mysong_List"
            android:screenOrientation="portrait"
            android:theme="@style/HoloActionBarTheme" >
        </activity>
        <activity
            android:name=".ui.MyPageActivity"
            android:label="@string/title_section4"
            android:screenOrientation="portrait"
            android:theme="@style/HoloActionBarTheme" >
        </activity>
        <activity
            android:name=".ui.MyPrescienceActivity"
            android:label="@string/title_activity_my_prescience"
            android:screenOrientation="portrait"
            android:theme="@style/TabActionBarTheme" >
        </activity>
    </application>

</manifest>
